@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
    background: url('images/gintamafondtest.jpg') fixed;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: small;
    text-transform: uppercase;
}

header
{
	height: 200px;
	border-radius: 10px 10px;
	color: red;
	background: url('images/GintamaGintokiBan.jpg') 25%;
	border-bottom: 10px solid red;
	box-shadow: 0px 4px 4px #1c1a19;
}

#titre_principal
{
    display: inline-block;
}

header h1
{
	text-shadow: -2px 2px 5px black;
    font-family: 'BallparkWeiner', serif;
    font-size: 100px;
	position: relative;
	top: -225px;
	left: 200px;
}



#logo
{
	position: relative;
	top: 10px;
	left: 10px;
	width: 180px;
	height: 180px;
}
header nav
{
	position: relative;
	bottom: 260px;
	right: -150px;
	text-shadow: -1px 1px 0px black;
    display: inline-block;
    width: 740px;
    text-align: right;
}

header nav ul
{
    list-style-type: none;
}

header nav li
{
    display: inline-block;
    margin-right: 15px;
}

header nav a
{
    font-size: 18px;
    color: #ff5555;
    padding-bottom: 3px;
    text-decoration: none;
}

header nav a:hover
{
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

#navi2
{
	background: url('images/Fond.png');
	border-radius: 5px;
	border: 1px solid red;
	margin: 15px 0;
	opacity: 0.9;
	box-shadow: 0px 3px 4px #1c1a19;
}

#navi2 li
{
	display: inline-block;
	margin-left: 100px;
}

#navi2 a
{
	font-size: 18px;
    text-decoration: none;
	color: #ff3333;
}

#navi2 a:hover
{
	color: #000000;
    border-bottom: 3px solid red;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 900px;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24);
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 18px;

}

.bouton_rouge
{
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 8px;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
    background: linear-gradient( #881111, #ff0000, #552222);
}

.bouton_rouge:hover
{
	border: 2px solid white;
}

#slideshow 
{
	position: relative;
    width: 900px;
    height: 180px;
	margin-top: 15px;
    margin-bottom: 25px;
    overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 4px 4px #1c1a19;
}

#sContent li 
{
    display: inline;
}

#sContent 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    margin: 0;            
    padding: 0;
    animation-name: AutoSlide;
    animation-duration: 100s;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes AutoSlide 
{
	0% {left: 0px;}
	50% {left: -730px}
	100% {left: -1460px;}
}

@-moz-keyframes AutoSlide 
{
	0%,  100% {left: 0px;}
	50% {left: -1460px;}
}

@-webkit-keyframes AutoSlide
{
	0% {left: 0px;}
	50% {left: -730px}
	100% {left: -1460px;}
}

#article1, aside
{
	display: inline-block;
 	vertical-align: top;
    text-align: justify;
	background: url('images/Fond.png');
	box-shadow: 0px 3px 4px #1c1a19;
	border-radius: 5px;
	border: 1px solid red;
	padding: 19px;
}

#article1
{
	width: 588px;
	margin-right: 15px;
	font-size: 15px;
	opacity: 0.9;
}

aside
{
    width: 215px;
    padding: 10px;
    font-size: 12px;
}

#article1 h2, aside h2, #article2 h2
{
	font-family: 'BallparkWeiner', serif;
	color: red;
	text-shadow: -2px 2px 2px black;
}

#article1 h2, #article2 h2
{
	background: url("images/gintamafondtest.jpg") fixed;
	height: 75px;
	border-radius: 5px;
	border: 1px solid red;
	margin: 15px 15px;
	padding-top: 10px;
	font-size: 70px;
	text-align: center;
}

.Gintama
{
	float: right;
	width: 125px;
	height: 175px;
	padding-left: 10px;
}

.Gintokiimg
{
	
	float: right;
	width: 175px;
	height: 175px;
	padding-left: 10px;
}

#auteur
{
   text-align: center; 
}

#auteur img
{
   border: 1px solid red;
}

aside h2
{
	font-size: 32px;
}

aside h3
{
	text-align: center;
	position: relative;
	bottom: 10px;
}

table
{
    border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td
{
	border: 1px solid red;
	text-align: center;
}

#article2
{
	display: inline-block;
 	vertical-align: top;
    text-align: justify;
	background: url('images/Fond.png');
	box-shadow: 0px 3px 4px #1c1a19;
	border-radius: 5px;
	border: 1px solid red;
	padding: 19px;
	font-size: 15px;
	opacity: 0.9;
	margin: 15px 0;
}

footer
{
	background: url('images/Fond.png');
	border-radius: 5px;
	border: 1px solid red;
	margin: 15px 0;
	opacity: 0.9;
	box-shadow: 0px 3px 4px #1c1a19;
}

#news, #galeries, #mes_amis
{
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	color: #760001;
}

#news
{
	
	width: 29%;
	border-radius: 5px;
	border: 1px solid red;
	margin: 15px;
	
	
	
}

#news h3
{
	
	height: 30px;
	text-align: center;
}

#galeries
{
	
	width: 29%;
	border-radius: 5px;
	border: 1px solid red;
	margin: 15px;
	padding: 2px;
	text-align: center;
}

#galeries img
{
    border: 1px solid #181818;
    margin: 10px;
}

#mes_amis
{
	
	
	width: 29%;
	border-radius: 5px;
	border: 1px solid red;
	margin: 15px;
	
	
	
}

#mes_amis ul
{
    display: inline-block;
    vertical-align: top;
	width: 48%;
    list-style-image: url('images/gintamaicon1.gif') ;

	
}

#mes_amis h3
{
	text-align: center;
}

#mes_amis a
{
    text-decoration: none;
	text-align: center;
    
}